<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SkillSharing</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div class="form-group" >
  <form class="form-control" name="registerForm" th:object="${registerDto}" th:action="@{/register}" method="post">
    <div class="form-group">
      <div class="form-row">
        <h4>Username</h4>
        <label id="Username">
          <input type="text" min="5" max="20" name="Username" th:field="*{username}">
        </label>
      </div>
      <div class="form-row">
        <h4>First name</h4>
        <label id="first name">
          <input type="text" min="5" max="20" name="First name" th:field="*{firstName}">
        </label>
      </div>
      <div class="form-row">
        <h4>Last name</h4>
        <label id="last name">
          <input type="text" min="5" max="20" name="Last name" th:field="*{lastName}">
        </label>
      </div>
      <div class="form-row">
        <h4>Email</h4>
        <label id="email">
          <input type="email" name="Email" th:field="*{email}">
        </label>
      </div>
      <div class="form-row">
        <h4>Password</h4>
        <label id="password">
          <input type="password" name="Password" th:field="*{password}">
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="categoryOfSkill" >Select your skill</label>
      <select class="form-control" id="categoryOfSkill" th:field="*{categoryOfSkill}">
        <option name="it" th:value="it" th:text="it">It</option>
        <option name="medicine" th:value="medicine" th:text="medicine">Medicine</option>
        <option name="archeology" th:value="archeology" th:text="archeology">Archeology</option>
      </select>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>
</body>
</html>